<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome</h1>
        <p>node.js 서버로 운영되는 사이트입니다.</p>
    </div>
    <div>
        <h2>세상의 모든 클래스를 찾아주는 파클</h2>
    </div>
</body>
</html>